<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OutdoorParadiseViewer.Properties.Settings.dbWindowsLogin"
            connectionString="Data Source=HICT-HP\SAMBAPOS3;Initial Catalog=OutdoorParadise;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="OutdoorParadiseViewer.Properties.Settings.dbTestHRMLogin"
            connectionString="Data Source=HICT-HP\SAMBAPOS3;Persist Security Info=True;User ID=TestHRM;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="OutdoorParadiseViewer.Properties.Settings.dbPChinLogin"
            connectionString="Data Source=HICT-HP\SAMBAPOS3;Persist Security Info=True;User ID=PChin;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>